@charset "UTF-8";

*{
	padding:0;
	margin:0;
	text-decoration:none;

}

header{
	background-color: #000;
	height: 100%;
	overflow: hidden;

}




body{

}


label{

	float: left;
	display: block;
	margin-top: 17.5px;
	margin-right: 20px;
	margin-left: 15px;



}

nav{
	float: left;
	overflow: hidden;
	display:block;
	margin-left: -30px;
}

nav ul{
	list-style: none;
	display:flex;
}

nav ul li{
	float:left;
	margin-right: 15px;
	margin-left: 15px;
	cursor:pointer;
	overflow: hidden;
	margin-top:13px;
	margin-bottom:15px;
	display:block;
}




nav ul li a{
	text-align: center;
	display:block;
	font-family: Tannenberg;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	overflow: hidden;
	width: 75px;
	height:75px;

	padding:10px;
}

h3{
	margin-top:23px;

}

label img{
	width: 100px;
	height: auto;
	display: block;
	float: left;
	}



#soundboard{

	margin-right: -0.2%;
}

.untertitel{
	margin-bottom: 33px;
	margin-left: 72%;
	margin-right: 7px;
	font-family: Tannenberg;
	color: white;
	font-size: 2vw;

}

body{
	background:#A00;

}

.feld{
	cursor: pointer;
	background:#FFF;
	float:left;
	width:14.3%;
	margin-left:0.5%;
	margin-right:0.5%;
	margin-bottom:2%;
	padding:2%;

	border-radius: 20px;
	border: 4px solid black;

}




h2{
	color: black;
	margin-left:1%;
	margin-right:1%;
	text-align: center;
	font-size: 1.7vw;
	font-family: lohl;


}

#ueberschrift{
	font-size: 5vw;
	text-align: center;
	margin-bottom: 3.5%;
	font-family: Tannenberg;
	margin-top: 23px;
}


.logo{
	width: 150px;
	height: 124px;
	float: right;
	margin-right: 1%;
	display: block;
}

.banner{
	text-align: center;

	height:auto;
}



.feld:hover {
	background:#000;
	color: white;
}

.curd:hover{

	background-image: url(Curd/curdklein.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

.curd:hover h3{
	opacity: 0;
}

.klasen:hover{
	background-image: url(klasen/klasen.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.klasen:hover h3{
	opacity: 0;
}

.mhk:hover{

	background-image: url(MHK/mhk.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

.mhk:hover h3{
	opacity: 0;
}

.ss:hover{
	background-image: url(SS/ss.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.ss:hover h3{
	opacity: 0;
}

.krd:hover{

	background-image: url(KRD/peter.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

.krd:hover h3{
	opacity: 0;
}

.misc:hover{

	background-image: url(Sonstige/misc.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #FFF;

}

.misc:hover h3{
	opacity: 0;
	background-color: #FFF;
}

.menu{
	display:none;
}

#btn-menu{
	display:none;
}

#menupic{
	display: none;
}


@font-face{font-family:"Tannenberg";src:url("TannenbergFett.ttf") format("truetype")}
@font-face{font-family:"Lohl";src:url("lohl.ttf") format("truetype")}

@media (max-width:1280px){
	.feld{
		width:27.2%;
		font-size:3vw;
	}

	#ueberschrift{
	font-size: 7vw;

}

#menupic{
	display: none;
}



}


@media (max-width:980px){
	.menu{
		display:block;
		position: absolute;

		margin-top: 120px;
		margin-bottom:50px;
		background:#000;
		margin-left:-50%;
		transition: all 0.2s;
	}




nav{
		display:none;

	}

label{
	float: left;
	display: block;
	margin-top: 12.5px;
	margin-right: 0px;

	padding-bottom:10px;
}


.menu ul{

	margin-top:0px;
	margin-bottom:0px;
	flex-direction: column;
	padding-bottom:0px;


}

.menu ul li{

	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
}

.menu ul li a{
	text-align: left;
	font-weight: bold;
	width: 100%;
	height:auto;
	padding:10px;


}

.menu ul li a h3{
	margin-top:0px;
	font-size:3vw;

}

#btn-menu:checked ~ .menu {
	margin-left:0;
}

#menupic{
	display: block;
}


}

@media (max-width:720px){
	.feld{
		width:93.8%;
		font-size:6vw;
		float:none;
	}

	#ueberschrift{
	font-size: 8vw;
	}

	.menu ul li a h3{
	font-size:5vw;

}
	.banner{
		width:60%;
	}

}


/*
 @media (max-width:1290px){

	header{
	height: 50px;
}


	#picture img {
		width: 50px;
		height: auto;
	}

	#picture{
	display: block;
	margin-top: 3px;
	margin-right: 10px;
	border:4px solid #FFF;
	overflow: hidden;

}

nav ul{
	margin-top: 12px;
}


	nav ul li a{
	padding:2px;
	font-size: 10px;
	font-weight: bold;
	overflow: hidden;
}

	nav ul li{
	float:left;
	padding:1px;
	margin-top: 2px;

	margin-right: 5px;
	margin-left: 5px;
	border:2px solid #FFF;
	background:#000;
	cursor:pointer;
	overflow: hidden;

}

li:hover{
	border:2px solid #000;
}



}  */
