@charset "UTF-8";

*{
	padding:0;
	margin:0;
	text-decoration:none;

}

header{
	background-color: #000;
	height: 100%;
	overflow: hidden;

}

body{

}

label{

	float: left;
	display: block;
	margin-top: 17.5px;
	margin-right: 20px;
	margin-left: 15px;



}

nav{
	float: left;
	overflow: hidden;
	display:block;
	margin-left: -30px;
}

nav ul{
	list-style: none;
	display:flex;
}

nav ul li{
	float:left;
	margin-right: 15px;
	margin-left: 15px;
	cursor:pointer;
	overflow: hidden;
	margin-top:13px;
	margin-bottom:15px;
	display:block;
}

nav ul li a{
	text-align: center;
	display:block;
	font-family: Tannenberg;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	overflow: hidden;
	width: 75px;
	height:75px;

	padding:10px;
}

h3{
	margin-top:23px;
}

label img{
	width: 100px;
	height: auto;
	display: block;
	float: left;
	}


#soundboard{
	
	margin-top: 5%;
	width: 100%;
	height: auto;
	margin-bottom: 85%;
}

.untertitel{

	text-align: center;
	font-family: 'UnifrakturCook', cursive;
	color: white;
	font-size: 4vw;
	margin-top: 1%

}

.sender{
	font-family: 'BenchNine', sans-serif;
	text-align: center;
	color: white;
	font-size: 2vw;
	margin-top: 3%;
}

#ueberschrift{
	font-size: 5vw;
	text-align: center;
	margin-bottom: 3%;
	font-family: Tannenberg;
}

body{
	background:#A00;
}

.sound{
	cursor: pointer;
	background:#FFF;
	float: left;
	width:14.6%;
	margin-left:0.5%;
	margin-right:0.2%;
	margin-bottom:2%;
	padding: 2%;
	border-radius: 20px;
	border: 4px solid black;
	text-align: center;
}

.sound img{
	float: left;
	display: flex;
	padding-right: 0.5%;
	width: 13%;
	height: auto;
}

.feld{
	color: black;
	overflow: hidden;
	font-size: 1.7vw;
	font-family: lohl;
}

.rb{
	margin-right:1.5%;
}


h2{
text-align: center;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 160px;
	background-color: #111;
	text-align: center;
	top: auto;
}

.container{
	margin-top: 30px;
	color: #fff;
	width: 100%;
}

.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}

.fa-youtube-play {
    color: #e52d27;
}

.fa-github {
    color: white;
}


.fa {
	opacity: 0.7;
	transition: 1s;
	-webkit-transition: 1s;
	margin-bottom: 5px;
}

.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}

#greif{
margin-top:  50px;
}

#greif img{
	height: 50px;
}


.sound:hover{
	background:#000;
	color: white;
}


.sound:hover  .feld {
	background:#000;
	color: white;
}



.curd:hover{

	background-image: url(Curd/curdklein.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}


.curd:hover h3{
	opacity: 0;
}

.klasen:hover{


	background-image: url(klasen/klasen.jpg);
	background-size: cover;
	background-repeat: no-repeat;


}

.klasen:hover h3{
	opacity: 0;
}

.mhk:hover{

	background-image: url(MHK/mhk.jpg);
	background-size: cover;
	background-repeat: no-repeat;


}

.mhk:hover h3{
	opacity: 0;
}

.ss:hover{

	background-image: url(SS/ss.jpg);
	background-size: cover;
	background-repeat: no-repeat;


}

.ss:hover h3{
	opacity: 0;
}

.krd:hover{

	background-image: url(KRD/peter.jpg);
	background-size: cover;
	background-repeat: no-repeat;


}

.krd:hover h3{
	opacity: 0;
}

.misc:hover{

	background-image: url(Sonstige/misc.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #FFF;

}

.misc:hover h3{
	opacity: 0;
	background-color: #FFF;
}

.menu{
	display:none;

}

#btn-menu{
	display:none;
}

#menupic{
	display: none;
}

.logo{
	width: 150px;
	height: 124px;
	float: right;
	margin-right: 1%;
	display: block;
}


@font-face{font-family:"Tannenberg";src:url("TannenbergFett.ttf") format("truetype")}
@font-face{font-family:"Lohl";src:url("lohl.ttf") format("truetype")}

@media (max-width:1280px){

	.feld{
		font-size:3vw;
	}

	.sound{
		width:27.5%;
	}

	#ueberschrift{
	font-size: 7vw;

	#soundboard{
		margin-bottom: 155%;
	}


#menupic{
	display: none;
}


}


@media (max-width:980px){
	.menu{
		display:block;
		position: absolute;

    margin-top: 120px;
		margin-bottom:50px;
		background:#000;
		margin-left:-50%;
		transition: all 0.2s;
	}


	.untertitel{
		font-size: 6vw;
	}

	.sender{
		font-size: 4vw;
	}

	#soundboard{
		margin-bottom: 165%;
	}

nav{
		display:none;

	}



label{

	display: block;
	margin-top: 12.5px;
	margin-right: 0px;

	padding-bottom:10px;
}


.menu ul{

	margin-top:0px;
	margin-bottom:0px;
	flex-direction: column;
	padding-bottom:0px;


}

.menu ul li{

	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
}

.menu ul li a{
	text-align: left;
	font-weight: bold;
	width: 100%;
	height:auto;
	padding:10px;


}

.menu ul li a h3{
	margin-top:0px;
	font-size:3vw;

}

#btn-menu:checked ~ .menu {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;

}

#menupic{
	display: block;
}


}

@media (max-width:720px){


	#ueberschrift{
	font-size: 8vw;
	}

	.untertitel{
		font-size: 8vw;
	}

	.sender{
		font-size: 6vw;
	}
	
	#soundboard{
		 margin-bottom: 30%;
	}


	.feld{
		font-size:6vw;
	}

	.sound{
		width:92%;
	}

	.sound img{
		width:8.8%;
	}

	.banner{
		width:80%;
	}



	.menu ul li a h3{
	font-size:5vw;

}


}


/*
 @media (max-width:1290px){

	header{
	height: 50px;
}


	#picture img {
		width: 50px;
		height: auto;
	}

	#picture{
	display: block;
	margin-top: 3px;
	margin-right: 10px;
	border:4px solid #FFF;
	overflow: hidden;

}

nav ul{
	margin-top: 12px;
}


	nav ul li a{
	padding:2px;
	font-size: 10px;
	font-weight: bold;
	overflow: hidden;
}

	nav ul li{
	float:left;
	padding:1px;
	margin-top: 2px;

	margin-right: 5px;
	margin-left: 5px;
	border:2px solid #FFF;
	background:#000;
	cursor:pointer;
	overflow: hidden;

}

li:hover{
	border:2px solid #000;
}



}  */
